---
site_name: Ordeq
site_url: https://ing-bank.github.io/ordeq
site_description: "Ordeq simplifies IO and modularizes pipeline logic."
repo_url: https://github.com/ing-bank/ordeq

# nav:
# Do not alter this section. We use awesome-nav for automatic navigation generation.
# See docs/.nav.yml and https://lukasgeiter.github.io/mkdocs-awesome-nav/ for more info.

theme:
  name: material
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.path
    - content.code.copy
    - content.code.select
    - navigation.footer
  palette:
    - scheme: slate
      primary: black

markdown_extensions:
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.highlight:
      use_pygments: true
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

plugins:
  - search
  - awesome-nav
  - mkdocstrings:
      handlers:
        python:
          options:
            show_source: false
            docstring_style: google
